
<div class="ui segment">
<table class="ui table"><thead><th>Magic Damage After</th></thead>

    {{#each after}}
        <tr>
           <td>{{sum}}</td>
        </tr>
    {{/each}}

</table>

</div>

