<div class = "page-content" data-ng-init="init()"> 
	<div class="container">
		<div class="dropdown">
      		<div class="btn-group">
          		<button class="dropdown-toggle button" type="button" data-toggle="dropdown">
          			<span>Menu</span>
          		</button>
            	<ul class="dropdown-menu">
                	<li class="dropdown-submenu">
                  		<a tabindex="-1" href="">Normal</a>
	                  	<ul class="dropdown-menu">
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('BR/')">Brazil</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('EUNE/')">Europe Northeast</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('EUW/')">Europe West</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('KR/')">Korea</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('LAN/')">Latin America North</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('LAS/')">Latin America South</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('NA/')">North America</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('OCE/')">Oceanic</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('RU/')">Russia</a></li>
							<li><a tabindex="-1"  href="" ng-click="getNormalPath('TR/')">Turkey</a></li>
							<li role="separator" class="divider"></li>
							<li><a tabindex="-1" href="" ng-click="getNormalPath('')">Overall</a></li>
	                    </ul>
                	</li>
                	<div class="divider"></div>
	                <li class="dropdown-submenu">
	                    <a tabindex="-1" href="">Ranked</a>
	                    <ul class="dropdown-menu">
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('BR/')">Brazil</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('EUNE/')">Europe Northeast</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('EUW/')">Europe West</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('KR/')">Korea</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('LAN/')">Latin America North</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('LAS/')">Latin America South</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('NA/')">North America</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('OCE/')">Oceanic</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('RU/')">Russia</a></li>
							<li><a tabindex="-1"  href="" ng-click="getRankedPath('TR/')">Turkey</a></li>
							<li role="separator" class="divider"></li>
							<li><a tabindex="-1" href="" ng-click="getRankedPath('')">Overall</a></li>
	                    </ul>
	                </li>
                	<div class="divider"></div>
                    <li><a href="/#!/items">Items Home</a></li>
                </ul>
            </div>
        </div>
    </div>
	<div class="item-description">
		<p>{{itemName}} <i class="entypo icon-right-open"></i> {{type}} <i ng-if="region.length>0" class="entypo icon-right-open"></i> {{region}}</p>
		<p>Comparing versions {{mv[0]}} and {{mv[1]}}</p>
	</div>
	<div  class="container item-image-container" style="width: 100%">
		<div class="row">
      		<table class="table-striped item-table">
          		<thead>
	              	<tr>
	                  	<th><b>Champion</b>			
          					<select ng-model="sortDropdown">
								<option value='' disabled selected>Sort by...</option>
								<option value = 'winRateDifferenceAfterBefore'>Winrate Difference</option>
								<option value = 'winDifferenceAfterBefore'>Total Win Difference</option>
								<option value = 'totalWins{{mv[0]}}'>{{mv[0]}} Total Wins</option>
								<option value = 'totalWins{{mv[1]}}'>{{mv[1]}} Total Wins</option>
							</select>
	                    </th>
	                    <th> Item 1 </th>
	                    <th> Item 2 </th>
	                    <th> Item 3 </th>
	                    <th> Item 4 </th>
	                    <th> Item 5 </th>
	                    <th> Item 6 </th>
	              	</tr>
          		</thead>
		        <tbody>
	                <tr ng-repeat="champion in items | orderBy:sortFunction | reverse" ng-init="getData(champion)">
						<td> 
							<div class="item-container">
								<img class="champion-img" src ="img/champion/{{champion.name}}.png">
							</div>
							<br>
							{{champion.name}}
						</td>
						<td>
							<div class="chart" ng-if="champion.it0[0] == 0 && champion.it0[1] == 0"> No data to show. </div>
							<canvas id="pie" class="chart chart-pie chart-width" chart-data="champion.it0" chart-labels="pielabel" chart-legend="true"></canvas>
						</td>	
						<td>
							<div class="chart" ng-if="champion.it1[0] == 0 && champion.it1[1] == 0"> No data to show. </div>
							<canvas id="pie" class="chart chart-pie chart-width" chart-data="champion.it1" chart-labels="pielabel" chart-legend="true"></canvas>
						</td>
						<td>
							<div class="chart" ng-if="champion.it2[0] == 0 && champion.it2[1] == 0"> No data to show. </div>
							<canvas id="pie" class="chart chart-pie chart-width" chart-data="champion.it2" chart-labels="pielabel" chart-legend="true"></canvas>
						</td>
						<td>
							<div class="chart" ng-if="champion.it3[0] == 0 && champion.it3[1] == 0"> No data to show. </div>
							<canvas id="pie" class="chart chart-pie chart-width" chart-data="champion.it3" chart-labels="pielabel" chart-legend="true"></canvas>
						</td>
						<td>
							<div class="chart" ng-if="champion.it4[0] == 0 && champion.it4[1] == 0"> No data to show. </div>
							<canvas id="pie" class="chart chart-pie chart-width" chart-data="champion.it4" chart-labels="pielabel" chart-legend="true"></canvas>
						</td>
						<td>
							<div class="chart" ng-if="champion.it5[0] == 0 && champion.it5[1] == 0"> No data to show. </div>
							<canvas id="pie" class="chart chart-pie chart-width" chart-data="champion.it5" chart-labels="pielabel" chart-legend="true"></canvas>
						</td>
	                </tr>
		        </tbody>
      		</table>
		</div>
	</div>
</div>
