		    	<div style="position: absolute;  z-index: 10; margin-bottom: auto;"><spinner name="itemSpinner1" img-src='/img/gear1.svg' ></spinner></div>
<div class = "page-content" data-ng-init="init()"> 
<div style="position: relative; float:right; z-index: 10; margin: auto;"><spinner name="itemSpinner2" img-src='/img/gear2.svg' ></spinner></div>
	<header class="section-header container-fluid">
	    <div class="row">				
		    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
		    	<h2 class = "title">Abracadabra</h2>				


		        <h4 class="description">
		        	Select an item to analyze</h4>
				<h4>
					<a href="/#!/">
						<span class="glyphicon glyphicon-circle-arrow-left white"></span>  		Recall
					</a>
				</h4>
				<!-- <img src="/img/gears.svg" style="position: absolute; z-index:100;"/>	 -->

		    </div>
	    </div>
	</header>			
	<div class="container item-image-container">

		<div class="row">

			<div class="col-md-2 col-xs-4 item-grid" ng-repeat="item in itemImages">

				<div class="item-container">

					<img ng-click="getItem(item)" class="item-image" ng-src="{{getImagePath(item)}}"/>	
				</div>
			</div>
		</div>
	</div>
</div>


