
<div>
<table style="float: left">
  <tr><th>Champion Name</th><th>Magic Damage Before</th></tr>
{{#each before}}
    <tr><td> {{champname}}</td> <td align = "center"> {{sum}}</td></tr>
        {{/each}}   
</table>
{{> magicDamageAfter}}
    {{> magicDamageDifference}}


  
     