

<!doctype html>
<html>
    <head>
        {{>header}}
    </head>
    {{>bodyBG}}
        <div class=frame>
            <div class="wrapper">
                
                
                						<div class="various-content" >
                            <header class="section-header">
                                                                <h3 style="color:aliceblue;"><a href="/"><span class="glyphicon glyphicon-circle-arrow-left white"></a>	</span>  Recall</h3>
								<h3 style="color:aliceblue;text-align:center;">Select an item to analyze</h3>

				            </header>
                        </div>
                
                
                
                
                <a href = "/items/Ages"> <img src = "/img/items/Ages.png"></a>
                <a href = "/items/Ancients"> <img src = "/img/items/Ancients.png"></a>
                <a href = "/items/Archangel"> <img src = "/img/items/Archangel.png"></a>
                <a href = "/items/Athene"> <img src = "/img/items/Athene.png"></a>
                <a href = "/items/Blasting"> <img src = "/img/items/Blasting.png"></a>
                <a href = "/items/Deathcap"> <img src = "/img/items/Deathcap.png"></a>
                <a href = "/items/Guise"> <img src = "/img/items/Guise.png"></a>
                <a href = "/items/Hourglass"> <img src = "/img/items/Hourglass.png"></a><br>
                <a href = "/items/Luden"> <img src = "/img/items/Luden.png"></a>
                <a href = "/items/Morello"> <img src = "/img/items/Morello.png"></a>
                <a href = "/items/Nashor"> <img src = "/img/items/Nashor.png"></a>
                <a href = "/items/Needlessly"> <img src = "/img/items/Needlessly.png"></a>
                <a href = "/items/Rylai"> <img src = "/img/items/Rylai.png"></a>
                <a href = "/items/Seraph"> <img src = "/img/items/Seraph.png"></a>
                <a href = "/items/Torment"> <img src = "/img/items/Torment.png"></a>
                <a href = "/items/Void"> <img src = "/img/items/Void.png"></a>
            </div>
        </div>
    </body>

<script>
$('.ui.dropdown')
    .dropdown();
</script>
</html>