

<!doctype html>
<html>
    <head>
        {{>header}}
    </head>

    <body style="background-color: #ECEFF1;">
        <div id="page-content">
            <div class="various-content">

				<section class="c-section">
				    <div class="section-inner">
                    <br><br>
				        <header class="section-header">
				            <div class="container">
								<h2>abracadabra</h2>
                                <h4>Analyzing ability power item changes and magic damage dealt over patch 5.11 and 5.14 for League of Legends.</h4><h4> Data based on 400,000 matches and 4,000,000 champions over 10 different regions. <br><br>From the analyzed data, 112,623 champions purchased one of the new ability power items either before or after the change.</h4>
				            </div>
				        </header>
				        
                        <div class="container">
				            <div class="row">
								<div class="col-md-4">
								    <div class="c-service">
								        <p class="service-image m-animated" align="center"><img src="img/jax.jpg" style="opacity:1.0;"alt="" width="225" height="150"></p>	
								        <div class="service-content">
								            <h3>Damage</h3>
                                            <p class="endorse">You're interested in how magic damage per game changed between the patches.</p>
								            <p><a href="champions/RANKED" class="c-button m-outline">Select</a></p>
								        </div>
								    </div>
                                </div>
								
                                <div class="col-md-4">
								    <div class="c-service">
								        <p class="service-image m-animated" align="center"><img src="img/liandry.jpg" style="opacity:1.0;" width="225" height="150"alt=""></p>
													
								        <div class="service-content">
                                            <h3>Items</h3>
                                            <p class="endorse">You want to get down and dirty with the item statistics.</p>
                                            <p><a href="items" class="c-button m-outline">Select</a></p>
                                        </div>
                                    </div>

								</div>

				            </div>
                                                                    <div class="endorse">Abracadabra isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially <br>involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered <br> trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
				        </div>

				    </div>
				</section>


            </div>
        </div>

    </body>

    
</html>
