

<!doctype html>
<html><head>
{{>header}}
    </head>




                    <body style="background-color: #ECEFF1;">
					<!-- PAGE CONTENT : begin -->
					<div id="page-content">
						<div class="various-content">




	

							<!-- SERVICES SECTION : begin -->
							<section class="c-section">
								<div class="section-inner">
                                        <br><br>
									<header class="section-header">
										<div class="container">
    
											<h2>abracadabra</h2>
                                            <h4>Analysis on the effect of ability power item changes over patch 5.11 and 5.14 for league of legends.</h4><h4> Data based on 400,000 matches over every region.</h4>
										</div>

									</header>

									<div class="container">
										<div class="row">
											<div class="col-md-4">

												<!-- SERVICE : begin -->
												<div class="c-service">
													<p class="service-image m-animated" align="center"><img src="img/jax.jpg" alt="" width="225" height="150"></p>
													
													<div class="service-content">
														<h3>Damage</h3>
														<p>You're interested in how magic damage per game changed between the patches.</p>
														<p><a href="damageHome" class="c-button m-outline">Select</a></p>
													</div>
												</div>
												<!-- SERVICE : end -->

											</div>
											<div class="col-md-4">

												<!-- SERVICE : begin -->
												<div class="c-service">
													<p class="service-image m-animated" align="center"><img src="img/liandry.jpg" width="225" height="150"alt=""></p>
													
													<div class="service-content">
														<h3>Items</h3>
														<p>You want to get down and dirty with the item statistics.</p>
														<p><a href="#" class="c-button m-outline">Select</a></p>
													</div>
												</div>
												<!-- SERVICE : end -->

											</div>
										</div>
									</div>

								</div>
							</section>
							<!-- SERVICES SECTION : end -->




						</div>
					</div>
					<!-- PAGE CONTENT : end -->



		


		<!-- SCRIPTS : begin -->
		<script src="library/js/jquery-1.9.1.min.js" type="text/javascript"></script>
		<script src="library/js/third-party.js" type="text/javascript"></script>
		<script src="library/js/library.js" type="text/javascript"></script><span id="media-query-breakpoint" style="display: none;"></span>
		<script src="library/js/scripts.js" type="text/javascript"></script>
		<!-- SCRIPTS : end -->

	

    </body>

    
</html>