

<!doctype html>
<html>
    <head>
        {{>header}}
    </head>

    <body style="background-color: #ECEFF1;">
        <div id="page-content">
            <div class="various-content">

				<section class="c-section">
				    <div class="section-inner">
                    <br><br>
				        <header class="section-header">
				            <div class="container">
								<h2>abracadabra</h2>
                                <h4>Analysis on the effect of ability power item changes over patch 5.11 and 5.14 for league of legends.</h4><h4> Data based on 400,000 matches over every region.</h4>
				            </div>
				        </header>
				        
                        <div class="container">
				            <div class="row">
								<div class="col-md-4">
								    <div class="c-service">
								        <p class="service-image m-animated" align="center"><img src="img/jax.jpg" style="opacity:1.0;"alt="" width="225" height="150"></p>	
								        <div class="service-content">
								            <h3>Damage</h3>
                                            <p>You're interested in how magic damage per game changed between the patches.</p>
								            <p><a href="champions/RANKED" class="c-button m-outline">Select</a></p>
								        </div>
								    </div>
                                </div>
								
                                <div class="col-md-4">
								    <div class="c-service">
								        <p class="service-image m-animated" align="center"><img src="img/liandry.jpg" style="opacity:1.0;" width="225" height="150"alt=""></p>
													
								        <div class="service-content">
                                            <h3>Items</h3>
                                            <p>You want to get down and dirty with the item statistics.</p>
                                            <p><a href="items" class="c-button m-outline">Select</a></p>
                                        </div>
                                    </div>

								</div>
				            </div>
				        </div>

				    </div>
				</section>


            </div>
        </div>

    </body>

    
</html>