

<!doctype html>
<html><head>
{{{block "scripts"}}}{{{block "stylesheets"}}}
    </head>
<body>{{> damages}}
<script>
$('.ui.dropdown')
    .dropdown();
        
        $("#datatable").load("/damage #datatable table")
    </script>
    
 
</body></html>