@font-face {
  font-family: 'MuseoSans';
  src: url('../fonts/MuseoSans_700.otf');
}
@font-face {
  font-family: 'MuseoSansSmall';
  src: url('../fonts/MuseoSans-300.otf');
}

.title {
  font-family: 'MuseoSans', sans-serif;
  font-size: 7em;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: -0.6px;
  padding-bottom: 15px;
  line-height: 1em;
}

.description {
  font-family: 'MuseoSans', sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: white;
  letter-spacing: 1.0px;
}

.vertical-center {
  min-height: 10vh; 
  display: flex; 
  align-items: center;
}

.item-description {
  font-family: 'MuseoSans', sans-serif;
  text-transform: uppercase;
  font-size: 1.3em;
  letter-spacing: 1px;
}

.endorse {
  font-family: 'MuseoSansSmall', sans-serif;
  letter-spacing: 0.7px;
  font-size: 0.9em;
  position:absolute;
  bottom:0;
  height:100px;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 480px) {
    .title{font-size: 2em;}
    .description{font-size: 0.8em;}
    .endorse{font-size: 0.7em;}
}

@media (min-width: 481px) and (max-width: 767px) {
    .title{font-size: 4em;}
    .description{font-size: 1em;}
    .endorse{font-size: 0.7em;}
}

.image-items {
 width: 50%;
  margin: auto;
}

.image-damage {
  width: 50%;
  margin: auto;
}

.panel-heading {
 
  border: 6px;
  border-radius: 2px;
}
.panel-body {
  background-color: #FF6563;
  font-family: 'MuseoSans', sans-serif;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 1.1em;
  border-radius: 3px;
  border: 1px;
  border-color: #FF6563;
  margin-top: -5px;
}
.panel {
  border: 0;
  margin-left: auto;
  margin-right: auto;
  
}

.panel:hover {
  opacity: 0.7;
  background-color: white;
}

.item-image-container {
  margin: auto;
 border: 5px solid #726E6D;

}

.item-grid {
  border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f5f5f5;
  padding: 15px;
}

.item-container { 
    background-color: rgba(0,0,0,0.1);
    border-left: 1px solid rgba(84,84,84,0.3);
    border-top: 1px solid rgba(84,84,84,0.3);
    border-bottom: 1px solid rgba(255,255,255,0.6);
    border-right: 1px solid rgba(255,255,255,0.6);
    padding: 4px;
    display: inline-block;
    border-radius: 3px; 
  }

.item-image {
  width: 48px;
  height: 48px;
  cursor: pointer;
}

.chart {
  font-family: MuseoSansSmall;
  font-weight: bold;
}

.chart-width {
  width: 10em;
}

.item-image:hover {
  opacity: 0.5;
  background-color: black;
}

.page-content {
  text-align: center;
  min-height:100%;
  background-image: url(http://img00.deviantart.net/e30d/i/2014/043/0/9/fizz_with_shark__league_of_legends_flat_design_bg_by_hotchkissgraphics-d7682n7.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}

#image-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 20%;
  height: 1vh;
}

body { 
background-color: #233557;
 color: white;
 height: 100%;
 font-family: 'MuseoSansSmall';
 }

html {
  height: 100%;
}

 a {
  color: white;
  text-decoration: none !important;
 }
.red{
  color: firebrick;
}

.green{
  color: forestgreen;
}
.first-col {
    width: 30%;
    text-align:left;
}
.second-col .third-col .fourth-col {
    width: 35%;
    text-align: left;
}

.im-centered { 
    margin: auto; 
    max-width: 1100px;

}

.item-table {
  border-spacing: 0 5px;
  margin: auto;
  width: 100%;
}
/*.table table-striped {
    border-left: 1px solid rgba(0,0,0,.21);
    border-right: 1px solid rgba(0,0,0,.21);
    
}*/

    
.table>tbody>tr>td, .table>tbody>tr>th,
.table>tbody>tr:nth-child(odd)>td,
.table>tbody>tr:nth-child(odd)>th {
    background-color: #ccc;

}


tr:nth-child(even) {
  background-color: #fff;
}
table.item-table>thead>tr>th,
table.item-table>tbody>tr>td
 {
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;
    border-left: 1px solid #fff;
  border-top: 1px solid #fff;
  border-right: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  background-color: #f5f5f5;
  padding: 15px;
}

table.item-table {
  width: 100%;
}

table.item-table th {
  text-align:center;
  padding-bottom: 20px;

}



.champion-img {
  width: 72px;
  height: 72px;
}

.container .table-div {
position:absolute; 
padding-left:125px;
}
.dropdown-submenu {
    position: relative;
}

.dropdown {
    margin-bottom:0.5em;
}

.dropdown-menu {
    width: 350px;
    background-color: #E5E7E1;
    position: absolute;
}
.dropdown-menu li li,
.dropdown-menu li, .dropdown-menu a {
    height: auto;
    font-size: 14px;
    font-family: "MuseoSans", sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    background-color: #E5E7E1;
    margin-top:-3px;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown-menu .divider {
  height: 1px;

  background-color: #ccc;
}

.frame {
  line-height: 800px;
  width: 660px;

  white-space: nowrap;
  text-align: center;
  margin: auto;
}
 
.frame .wrapper {
  display: inline-block;
  vertical-align: middle;
  line-height: 2em;
}
 
.frame .wrapper a {
  max-height: 25px;
  max-width: 400px;
    color:black;
    border-bottom:none;
}

.frame .wrapper a img {
color: black;
}


.white, .white a {
  color: #fff;
}

#wrapper {
  float: right;
}

#sort-dropdown {
  max-width: 1000px;
  margin: auto;
}

.right {
  float: right;
}

.sort-dropdown-menu {
    min-width: 100px;
    background-color: #f9f9f9;
    width: 120px;   
    height: auto;
    padding: none;
    margin: none;

}

.sort-dropdown-menu li, .sort-dropdown-menu li a {
    margin: 0px;
  font-size: 11px;
  letter-spacing: 0px;
  padding: 3px 7px;
  font-family: 'MuseoSans', sans-serif;
    font-weight: 600;
    text-align: left;
    background-color: #f9f9f9;
    text-transform: none;
    height: auto;

}


.sort-dropdown {
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  font-family: 'MuseoSansSmall', sans-serif;
  font-weight: 700;
  position: relative;
  color: #000;
  width: 120px;
  height: 30px;
  vertical-align:middle;
  background: #f9f9f9;
  border: 1px solid #d7d7d7;
  overflow: hidden;


  transition: all 0.5s;
}
.sort-dropdown:hover, .sort-dropdown:active 
{
  text-decoration: none;
  color: #000;
  border-color: #ccc;
  background: #E5E7E1;
}

.sort-dropdown:hover span:after, .sort-dropdown:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #ca4d50;
  right: 0;
  top: 50%;
}

.button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #ca4d50;

  font-size: 24px;
  font-family: "MuseoSans", sans-serif;
  font-weight: 300;
    margin-top: 1em;
  height: auto;
  position: relative;
  top:0; right:0; bottom:0; left:0;
  
  padding: 20px 0;
  width: 350px;


  background: #ca4d50;
  border: 1px solid #ca4d50;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #ca4d50;
  border-color: #ca4d50;
  background: #E5E7E1;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #ca4d50;
  right: 0;
  top: 50%;
}
