doctype html
html(data-ng-app="abra")
    include ../includes/head
        body
            header(data-ng-include="'views/header.html'")
            block content
            include ../includes/foot

 
